
@{
    ViewBag.Title = "Login Page";
}
<div> 
    <h1>  Login</h1>  
</div>





















<!--     <a href="#">Login</a>
      <br />
     1.ci link kullanımı
      @Html.RouteLink("click here", "Home") to go to homa page!
      <br />
      2.ci link kullanımı
      <a href="@Url.RouteUrl("Home")">Click here go to homapage</a>
    -->
 